.sidebar {background-color: #003661;}
.header-highlight .navbar-header:not([class*=bg-]) {
    background-color: #263238;
    -webkit-box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
    box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
}
.header-highlight .navbar-header:not([class*=bg-]) {background-color:#003661;}

.navigation>li.active>a, .navigation>li.active>a:hover, .navigation>li.active>a:focus {background-color: #003661;}
	
.navbar-brand {float: left;padding: 0px 20px;font-size: 14px;line-height: 20px;height: 44px;}

.navbar-brand>img {    margin-top: 5px;height: 35px;}

.panel.panel-white{background-color:#fff;}

.icon-push{    color: #454e59;font-size:13px;}

.account-span {display: block;color: #fa4356;font-size: 16px;}

.panel-flat>.panel-heading {   padding-top: 10px;padding-bottom: 10px;}

.btn-1{background-color:#5CAFDE;width:150px;color:white;font-weight: bold;letter-spacing:1px;}
.btn-1:hover{background-color:#5CAFDE;width:150px;color:white;font-weight: bold;letter-spacing:1px;}

.btn-2{margin:2% 0;background-color:#5CAFDE;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}
.btn-2:hover{margin:2% 0;background-color:#5CAFDE;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}

.authorize-div{margin:1% 0;}

.add-area { margin:0; padding:0% 0 40% 0; position:relative;}
.add-area .add-div {margin: 0;padding: 0;position: relative;}
.add-area .add-card{margin: 0 auto;padding: 0px;background-color: rgb(250, 250, 250); }
.add-area .add-card.add-cardboard { width: 100%;}
.add-area .facebook-ads{margin: 0 auto;padding: 0;text-align: center;}
.add-area .facebook-ads img{margin: 0 auto;padding: 10% 10% 10% 10%;text-align: center;vertical-align: middle;}
.add-area .alert-danger {margin: 0px;color: #17466b;background-color: #dcd9d7;border:none;font-size: 16px;border-radius: 0px;}
.add-area .alert-dismissable .close, .alert-dismissible .close { position: relative;top: 2px;right: 0;color: #000!important;font-size: 20px;font-weight: bold;}
.add-area .border-ads{margin: 0% auto 5% auto;text-align: center;height: 6px;width: 80%;background-color:#dcd9d7;border-radius: 5px; }

.page-header+.content {
    padding-top: 0;
    padding-bottom: 5%;
}

.top-section{  margin: 0 0 0px 0;padding: 0;position: relative;  }

.top-section .page-header{ margin: 0;padding: 0;border-bottom-width: 0;}
.top-section .page-header-content {background-color:#fff;padding: 0 20px;margin: 0 0 10px 0;}
/*.top-section .page-title {padding: 30px 36px 30px 0;display: block;}*/
.top-section .page-title {padding: 30px 0px 28px 0;}
.top-section .heading-elements {background-color: #fff;position: relative;}
.top-section .panel-body {padding: 10px 20px;}
.top-section .col-20{width: 19%;display: inline-block;position: relative;margin: 4px 0;padding: 0 2px;line-height: 1.4;float: left;}
.top-section .panel {margin-bottom: 0px;border-color: #baaf50;text-align: center;}
.top-section h6.panel-title, .h6.panel-title {font-size: 16px;}

.top-section .heading-btn-group-div li { float: left;margin: 0 auto;padding: 0;text-align: center;display: inline-block;width: 20%;border: 0px solid #ccc;}
.top-section .img-top{width: 40%;}



@media only screen and (max-width: 767px){
.page-header+.content {
    padding-top: 0;
    padding-bottom: 5%;
}	

.btn-2{margin:2% 0;background-color:#5CAFDE;width:150px;float:none;}
.btn-2:hover{margin:2% 0;background-color:#5CAFDE;width:150px;float:none;}

.add-area .facebook-ads img {    margin: 0 auto;padding: 10% 10% 10% 10%;}
.add-area {margin: 0;padding: 0% 0 0% 0;position: relative;}
.top-section .heading-btn-group-div li {    width: 50%;height: 85px;position: relative;margin: 0 auto;}
.top-section .heading-btn-group-div ul {padding-left: 0px;}
.top-section .page-title {padding: 30px 0px 28px 0;text-align: center;}
.heading-elements-toggle {right: 20px;display: none;}

}
@media only screen and (min-width: 769px) and (max-width:975px) {
    .hide-tab{display: none;}
    .nav>li>a {position: relative;display: block;padding: 9px 5px;}
}
