@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

@media (min-width: 768px) {
  .img-responsive-sm {
    display: block;
    height: auto;
    max-width: 100%; } }

@media (max-width: 767px) {
  .no-mg-t-xs {
    margin-top: 0 !important; } }

.no-mg-t {
  margin-top: 0 !important; }

.no-mg-b {
  margin-bottom: 0 !important; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

#stats-chart1, #stats-chart2, #stats-chart3, #stats-chart7, #stats-chart8 {
  height: 200px; }

.color-settings .color-title {
  font-weight: bold;
  padding-left: 10px; }

.wysihtml5-sandbox {
  box-sizing: border-box; }

.action_icon{
  margin: 2px 8px 2px 8px;
}
.input-tooltip{
  padding: 0 !important;
  border: none !important;
}

table.dataTable thead .sorting_asc , table.dataTable thead .sorting_desc ,table.dataTable thead .sorting{
  background-image: none !important;
}
.full-width{
  width: 100% !important;
}
.box-collapsed .fa-search-minus{
  display: none !important;
}
.box-opened .fa-search-plus{
  display: none !important;
}
.btnTop
{
  margin-top: 10px;
}

/* start changes */

.btn-blue {
    color: #fff;
    background-color: #004b8d;
    border-color: #004b8d;
    padding: 6px 25px;
}

.navbar-nav>li>a.btn-blue{
    padding-top: 6px!important;
    padding-bottom: 6px!important;
}

.navbar-nav {
    float: left;
    margin: 0;
    list-style: none;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #fff!important;
}

.panel-footer .navbar-nav {float:right;}

.form-horizontal .control-label {
    text-align: left!important;
    margin-bottom: 0;
    padding-top: 7px;
}

.panel-default>.panel-heading{
	font-weight:700;
}

.width-100{width:100%!important;}

.err { color: red; }
.rightspace { margin-right: 20px; }

.errAppLayout {
  padding: 10px 20px !important;
  background: #fff;
  margin: 0 auto;
  position: absolute !important;
  z-index: 222;
  left: 0;
  width: 40%;
  right: 0;
  height: 50px;
  top: 20px;
}

.errAppLayout .close {
  padding: 0 0px 0 10px;
}


.errDashLayout {
  padding: 15px 20px !important;
  margin: 0 auto;
  z-index: 222;
  left: 0;
  width: 90%;
  height: 50px;
  top: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.alert-error
{
  color: white;
  background-color: #ff06209e;
}

.mrgin{
  margin: 10px 10px 10px 10px;
  padding: 15px 0px 15px 0px;
}
.select2-container {  
  width: 100%!important;
}

input.select2-search__field {
  display: none;
}

input.select2-input {
  display: none;
}