.sidebar {background-color: #003661;}
.header-highlight .navbar-header:not([class*=bg-]) {
    background-color: #263238;
    -webkit-box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
    box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
}
.header-highlight .navbar-header:not([class*=bg-]) {background-color:#003661;}

.navigation>li.active>a, .navigation>li.active>a:hover, .navigation>li.active>a:focus {background-color: #003661;}
	
.navbar-brand {float: left;padding: 0px 20px;font-size: 14px;line-height: 20px;height: 44px;}

.navbar-brand>img {margin-top: 5px;height: 35px;width: auto;padding: 0;}
  
.panel.panel-white{background-color:#fff;}

.icon-push{    color: #454e59;font-size:13px;}

.account-span {display: block;color: #fa4356;font-size: 16px;}

.panel-flat>.panel-heading {   padding-top: 10px;padding-bottom: 10px;}

.btn-1{background-color:#5CAFDE;width:150px;color:white;font-weight: bold;letter-spacing:1px;}
.btn-1:hover{background-color:#5CAFDE;width:150px;color:white;font-weight: bold;letter-spacing:1px;}

.btn-2{margin:2% 0;background-color:#5CAFDE;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}
.btn-2:hover{margin:2% 0;background-color:#5CAFDE;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}

.authorize-div{margin:1% 0;}

.add-area { margin:0; padding:0% 0 40% 0; position:relative;}
.add-area .add-div {margin: 0;padding: 0;position: relative;}
.add-area .add-card{margin: 0 auto;padding: 0px;background-color: rgb(250, 250, 250); }
.add-area .add-card.add-cardboard { width: 100%;}
.add-area .facebook-ads{margin: 0 auto;padding: 0;text-align: center;}
.add-area .facebook-ads img{margin: 0 auto;padding: 10% 10% 10% 10%;text-align: center;vertical-align: middle;}
.add-area .alert-danger {margin: 0px;color: #17466b;background-color: #dcd9d7;border:none;font-size: 16px;border-radius: 0px;}
.add-area .alert-dismissable .close, .alert-dismissible .close { position: relative;top: 2px;right: 0;color: #000!important;font-size: 20px;font-weight: bold;}
.add-area .border-ads{margin: 0% auto 5% auto;text-align: center;height: 6px;width: 80%;background-color:#dcd9d7;border-radius: 5px; }

.page-header+.content {
    padding-top: 0;
    padding-bottom: 5%;
}

.top-section{  margin: 0 0 0px 0;padding: 0;position: relative;  }

.top-section .page-header{ margin: 0;padding: 0;border-bottom-width: 0;}
.top-section .page-header-content {background-color:#fff;padding: 0 20px;margin: 0 0 10px 0;}
/*.top-section .page-title {padding: 30px 36px 30px 0;display: block;}*/
.top-section .page-title {padding: 30px 0px 28px 0;}
.top-section .heading-elements {background-color: #fff;position: relative;}
.top-section .panel-body {padding: 10px 20px;}
.top-section .col-20{width: 19%;display: inline-block;position: relative;margin: 4px 0;padding: 0 2px;line-height: 1.4;float: left;}
.top-section .panel {margin-bottom: 0px;border-color: #baaf50;text-align: center;}
.top-section h6.panel-title, .h6.panel-title {font-size: 16px;}

.top-section .heading-btn-group-div li { float: left;margin: 0 auto;padding: 0;text-align: center;display: inline-block;width: 25%;border: 0px solid #ccc;}
.btn-float.btn-link {padding: 15px 10px 10px 10px;}

.top-section .img-top{width: 40%;}

.footer {
    position: absolute;
    bottom: 20px;
    padding: 0 20px 0 0;
}

.dataTables_wrapper .paginate_button{
    color: #fff !important;
    border-radius: 4px!important;
}

table.dataTable.no-footer {
    border-bottom: 0px solid #fff!important;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0px solid #111!important;
}
.box-content.panel-body {
    background: #fff!important;
    margin-bottom: 20px!important;
}
.box-content {
    background: #fff;
    padding: 20px;
    outline: 5px solid #eee;
    border-radius: 4px;
    border-color: #003661;
}
.bg-white {
    background: #fff!important;
    padding: 20px!important;
}

.paginate_button{
    background-color: #eee!important;
    padding: 6px 10px;
    border:1px solid #eee!important;
}

.btn.btn-primary.btn-custom {
    color: #fff !important;
    background-color: #003661 !important;
    border-color: #003661 !important;
    text-align: center !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
	border-radius:4px! important;
}

.fa.fa-download{padding: 0 4px;}

table.dataTable thead th, table.dataTable thead td{border: 1px solid #eee!important;}
.table>thead:first-child>tr:first-child>th{border-top: 1px solid #eee!important;}
table.dataTable thead th, table.dataTable thead td {border-bottom: 1px solid #eee!important;}
.dataTables_length {   float: right;display: inline-block;margin: 0 0 20px 0px!important;}
.dataTables_length label select {margin: 0 5px 0 5px!important;}
table.dataTable tbody th, table.dataTable tbody td {padding-top:10px!important;padding-bottom:10px!important;border: 1px solid #eee!important;}
.table.table-borderless.dataTable{padding: 10px 0!important;margin:0 0 20px 0!important;}

.panel-heading .panel-title{font-size: 18px!important;font-weight: 500!important;letter-spacing: 0.2px!important;text-transform: uppercase!important;color: #003661!important;}
.box-header.blue-background .title{font-size: 18px!important;font-weight: 500!important;letter-spacing: 0.2px!important;text-transform: uppercase!important;color: #003661!important;}
.navbar-nav>.dropdown-user>a>span {display: inline-block;padding-left: 0;padding-right: 10px!important;}

.paginate_button.next{margin-left: 3px!important;}

.dataTables_length>label{text-transform: capitalize!important;}

.nav-tabs.nav-tabs-solid>.active>a, .nav-tabs.nav-tabs-solid>.active>a:hover, .nav-tabs.nav-tabs-solid>.active>a:focus {
    background-color: #003661;
    letter-spacing: 1px;
    border-color: #003661;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
	border:none!important;
}
.nav-tabs.nav-justified.nav-tabs-solid>li>a{
	letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
	border:none!important;
	
}

/*.p-title{padding-left:10px;}*/
.panel-padding{padding:10px;}

.panel .invoice-grid .btn-primary {
    color: #fff;
    background-color: #003661;
    border-color: #003661;
    border-radius: 4px!important;
	text-transform: uppercase;
    letter-spacing: 1px;
}

.panel-footer {
	padding: 0 10px! important;
    background-color: #ffffff !important;
}

.no-margin-top {
    margin-top: 0 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-danger {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    margin: 10px 0 0 0 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
    margin: 10px 0 0 0 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
}

.btn-info  {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    margin: 10px 0 0 0 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
}

.btn-primary  {
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3;
    margin: 10px 0 0 0 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
}


i.icon-clipboard3 {
    margin-top: 0px!important;
}
i.icon-clipboard2 {
    margin-top: 0px!important;
}

.table.table-bordered.table-framed>thead>tr>td{
    outline: 1px solid #16619c !important;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #16619c!important;
    border-left: 1px solid #16619c!important;
    border-bottom: 1px solid #16619c!important;
    border-right: 1px solid #16619c!important;
	text-transform:uppercase;
}
.invoice-grid ul, .invoice-grid ol{list-style: none!important;}

.bg-blue {
    background-color: #16619c;
    border-color: #16619c;
    color: #fff;
    border: 1px solid #16619c;
    background: #16619c;
}
.btn-submit{
	background-color:#003661;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:1px;
	border-color:#003661;
	border-radius:4px;
}
.panel-default>.panel-heading {
    color: #003661;
    background-color: #fff;
    border-color: #ddd;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.margin-tb{margin:20px 0!important;}
#file{padding:10px;width:100%;border:1px solid #ddd;}

.box-1 .table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #eee!important;
    border-left: 1px solid #eee!important;
    border-bottom: 1px solid #eee!important; 
    border-right: 1px solid #eee!important;
    text-transform: uppercase;
}

.span-responsive{
	padding:25px 0 0 20px;
}
.icon-round{
	padding: 10px;
    background: #003661;
    border-radius: 50%;
    color: #fff;
}

/* CSS for Credit Card Payment form */

.panel.panel-default.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.panel.panel-default.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.panel.panel-default.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.panel.panel-default.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.panel.panel-default.credit-card-box label {
    display: block;
}

/* The old "center div vertically" hack */

.panel.panel-default.credit-card-box .display-table {
    display: table;
}
.panel.panel-default.credit-card-box .display-tr {
    display: table-row;
}
.panel.panel-default.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

/* Just looks nicer */

.credit-card-box .panel-heading img {
    min-width: 180px;
}

/* .panel.panel-default.credit-card-box .form-group { */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
/* } */

/* mobile */
@media only screen and (max-width: 767px){
.page-header+.content {
    padding-top: 0;
    padding-bottom: 5%;
}	

.btn-2{margin:2% 0;background-color:#5CAFDE;width:150px;float:none;}
.btn-2:hover{margin:2% 0;background-color:#5CAFDE;width:150px;float:none;}

.add-area .facebook-ads img {    margin: 0 auto;padding: 10% 10% 10% 10%;}
.add-area {margin: 0;padding: 0% 0 0% 0;position: relative;}
.top-section .heading-btn-group-div li {    width: 50%;height: 85px;position: relative;margin: 0 auto;}
.top-section .heading-btn-group-div ul {padding-left: 0px;}
.top-section .page-title {padding: 30px 0px 28px 0;text-align: center;}
.heading-elements-toggle {right: 20px;display: none;}
.top-section .heading-btn-group-div li {
    width: 100%;
    height: 85px;
    position: relative;
    margin: 0 auto;
}
.icon-round {
    padding: 10px;
    background: #003661;
    border-radius: 50%;
    color: #fff;
    right: 30px;
    position: absolute;
    top: 20px;
}
.btn-float.btn-link {
    padding: 15px 10px 10px 10px;
    text-align: left;
}
.btn-float>span {
 text-align: left;
}
}

@media only screen and (min-width: 769px) and (max-width:975px) {
    .hide-tab{display: none;}
    .nav>li>a {position: relative;display: block;padding: 9px 5px;}
}


@media only screen and (min-width: 768px) and (max-width:1023px) {
    .icon-round {
        right: 0;
        top: 21px;
    }
    .span-responsive {
        padding: 25px 0 0 0px;
    }
	
	
	/*****************/
	
	.ul-dashboard{padding-left:0;}
	.top-section .heading-btn-group-div li {	float: left;width: 50%;}
	.btn-float.btn-link {	text-align: left;}
	.span-responsive {padding: 0 0 0 0;position: absolute;right: 40%;}
	
	
}

@media only screen and (min-width: 1024px) and (max-width:1366px) {
    .icon-round {
        right: 0;
        top: 21px;
    }
    .span-responsive {
        padding: 25px 0 0 0px;
        position: absolute;
        right: 35px;
        top: -5px;
    }
    .top-section .heading-btn-group-div li {
        width: 49%;
        height: 85px;
        position: relative;
        margin: 0 auto;
    }
    .icon-round {
        padding: 10px;
        background: #003661;
        border-radius: 50%;
        color: #fff;
        right: 30px;
        position: absolute;
        top: 20px;
    }
    .btn-float.btn-link {
        padding: 15px 10px 10px 10px;
        text-align: left;
    }
    .btn-float>span {
     text-align: left;
    }
	
}

@media only screen and (min-width: 1440px) and (max-width:900px) {
	.icon-round {
    padding: 8px;
    background: #003661;
    border-radius: 50%;
    color: #fff;
}
.top-section .heading-btn-group-div li {
    float: left;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 25%;
    border: 0px solid #ccc;
}
.btn-float.btn-link {
    padding: 15px 0px 10px 0px;
}
.span-responsive {
    padding: 25px 0 0 20px;
}

}

@media (min-width: 769px)
{
    .content-wrapper {
        display: block;
        vertical-align: top;
    }
}

.pt-20{padding-top:20px !important;}
.w-90{width:90% !important;}
/*.pt-0{padding-top: 0!important;}*/
.form-horizontal .control-label {
    text-align: left!important;
    margin-bottom: 0;
    padding-top: 0;
}
.pl-10{padding-left:10px!important;}
.img-responsive.text-center-img{margin:0 auto!important;width:180px!important;}


.heading-btn-group-div .ul-dashboard li div.pull-left:nth-child(1) { width:70%}
.heading-btn-group-div .ul-dashboard li div.pull-left:nth-child(2) { width:30%}
@media only screen and (max-width: 767px){
.heading-btn-group-div .ul-dashboard li div.pull-left:nth-child(1) { width:auto;}
.heading-btn-group-div .ul-dashboard li div.pull-left:nth-child(2) { width:auto;}
}
