@import url(../css/style.css);
@import url(../css/font-awesome.min.css);
.bg-primary-color {
  background-color: #F4F7FB;
}

.back-to-listing {
  padding: 40px 0;
}

.back-to-listing a {
  font-size: 30px;
  color: #092A47;
  text-align: left;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.back-to-listing a i {
  font-size: 48px;
  margin-right: 10px;
}

.ershift-detail-section {
  background-color: #F4F7FB;
}

.ershift-detail-section .back-to-listing {
  padding: 40px 0;
}

.ershift-detail-section .back-to-listing a {
  font-size: 30px;
  color: #092A47;
  text-align: left;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ershift-detail-section .back-to-listing a i {
  font-size: 48px;
  margin-right: 10px;
}

.ershift-detail-section .detail-section {
  padding-bottom: 80px;
  border-bottom: 1px solid #D9DADE;
}

.ershift-detail-section .detail-section .row-7 {
  margin: 0 -7px;
}

.ershift-detail-section .detail-section .row-7 .pad-7 {
  padding: 0 7px;
}

.ershift-detail-section .detail-section .detail-img {
  margin-bottom: 30px;
}

.ershift-detail-section .detail-section .detail-img img {
  border-radius: 8px;
}

.ershift-detail-section .detail-section .detail-content h3 {
  font-size: 24px;
  color: #004C8D;
  text-align: left;
  line-height: 29px;
  margin-bottom: 12px;
}

.ershift-detail-section .detail-section .detail-content p {
  font-size: 20px;
  color: #092A47;
  text-align: left;
  line-height: 34px;
}

.ershift-detail-section .detail-section .detail-content-info {
  background-color: #ffffff;
  border: 1px solid #EAEBED;
  border-radius: 8px;
  padding: 30px;
}

.ershift-detail-section .detail-section .detail-content-info .form-group {
  margin-bottom: 30px;
}

.ershift-detail-section .detail-section .detail-content-info .form-group label {
  font-size: 20px;
  color: #092A47;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 6px;
}

.ershift-detail-section .detail-section .detail-content-info .form-group p {
  font-size: 20px;
  color: #092A47;
  line-height: 30px;
  display: block;
}

.ershift-detail-section .detail-section .detail-content-info .form-group p span {
  display: inline-block;
  position: relative;
  top: 5px;
}

.ershift-detail-section .detail-section .btns-groups {
  padding: 10px 0;
}

.ershift-detail-section .detail-section .btns-groups a {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.ershift-detail-section .detail-section .btns-groups .btn-secondary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myshift-section {
  background-color: #F4F7FB;
}

.myshift-section .row-7 {
  margin: 0 -7px;
}

.myshift-section .row-7 .pad-7 {
  padding: 0 7px;
}

.myshift-section .myshift-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 30px 0;
}

.myshift-section .myshift-header .title h3 {
  font-size: 28px;
  color: #092A47;
  letter-spacing: 0;
}

.myshift-section .myshift-header .link-button a {
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myshift-section .myshift-header .link-button a span {
  margin-right: 8px;
}

.myshift-section .myshift-box {
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 8px;
  margin-bottom: 15px;
}

.myshift-section .myshift-box .myshift-box-header {
  padding: 20px 20px 10px 20px;
}

.myshift-section .myshift-box .myshift-box-header h2 {
  font-size: 22px;
  color: #092A47;
  line-height: 30px;
  margin-bottom: 0;
}

.myshift-section .myshift-box .myshift-box-body {
  padding: 10px 20px 20px 20px;
}

.myshift-section .myshift-box .myshift-box-body P {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 18px;
  color: #092A47;
  line-height: 30px;
  margin-bottom: 6px;
  font-weight: 400;
}

.myshift-section .myshift-box .myshift-box-body P span {
  font-size: 18px;
  color: #092A47;
  text-align: right;
  line-height: 30px;
  font-weight: 600;
}

.myshift-section .myshift-box .myshift-box-body P span.to {
  color: rgba(9, 42, 71, 0.5);
}

.myshift-section .myshift-box .myshift-box-body P .red-color {
  color: #B5131B;
}

.myshift-section .myshift-box .myshift-box-body .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.myshift-section .myshift-box .myshift-box-body .description h3 {
  font-size: 18px;
  color: #092A47;
  line-height: 30px;
  text-decoration: none;
  margin-bottom: 10px;
  text-decoration: underline;
  font-weight: 600;
}

.myshift-section .myshift-box .myshift-box-body .description p {
  display: inline-block;
  font-size: 16px;
  color: #092A47;
  line-height: 30px;
  margin-bottom: 0px;
}

.myshift-section .myshift-box .myshift-box-body .description p a {
  font-size: 16px;
  color: #004C8D;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.myshift-section .myshift-box .myshift-box-footer {
  border-top: 1px solid #EAEBED;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.myshift-section .myshift-box .myshift-box-footer .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myshift-section .myshift-box .myshift-box-footer .btns .btn {
  background: rgba(145, 183, 220, 0.1);
  border: 1px solid rgba(9, 42, 71, 0.4);
  border-radius: 20px;
  font-size: 14px;
  color: #004C8D;
  line-height: 22px;
  margin-left: 10px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.myshift-section .myshift-box .myshift-box-footer .btns .btn:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #092A47;
  color: #ffffff;
}

.myshift-section .myshift-box .myshift-box-footer .btns .btn span {
  margin-right: 5px;
  font-size: 20px;
}

.add-newshift-section {
  background-color: #F4F7FB;
  padding-bottom: 50px;
}

.add-newshift-section .back-to-listing {
  padding: 40px 0;
}

.add-newshift-section .back-to-listing a {
  font-size: 28px;
  color: #092A47;
  text-align: left;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.add-newshift-section .back-to-listing a i {
  font-size: 34px;
  margin-right: 10px;
  font-weight: 400;
}

.add-newshift-section .form-section {
  background-color: #ffffff;
  border: 1px solid #EAEBED;
  padding: 60px 99px;
}

.add-newshift-section .form-section .form-group {
  margin-bottom: 30px;
}

.add-newshift-section .form-section .form-group label {
  font-size: 16px;
  color: #092A47;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 8px;
}

.add-newshift-section .form-section .form-group .form-control {
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  font-weight: 500;
  color: #092A47;
}

.add-newshift-section .form-section .form-group .form-control:focus {
  background: #F4F7FB;
  border: 1px solid #004C8D;
  -webkit-box-shadow: 4px 7px 12px 0.5;
          box-shadow: 4px 7px 12px 0.5;
}

.add-newshift-section .form-section .form-group .select2-container {
  border-color: #EAEBED !important;
}

.add-newshift-section .form-section .form-group .select-custom2 span.select2-selection.select2-selection--single {
  border-color: #C7C7C7 !important;
  font-weight: 500;
  color: #092A47 !important;
}

.add-newshift-section .form-section .form-group .select-custom2 span.select2-selection.select2-selection--single:focus {
  border: 1px solid #004C8D !important;
  background: #F4F7FB;
  -webkit-box-shadow: 4px 7px 12px 0.5;
          box-shadow: 4px 7px 12px 0.5;
}

.add-newshift-section .form-section .form-group .select2.select2-container .select2-selection .select2-selection__rendered {
  color: #092A47 !important;
}

.add-newshift-section .form-section .form-group .date-picker-div {
  border-color: #C7C7C7 !important;
}

.add-newshift-section .form-section .form-group .date-picker-div .from-date::after {
  background-color: #C7C7C7;
}

.add-newshift-section .form-section .form-group .input-group .form-control {
  border: 0 !important;
}

.update-profile-section {
  background-color: #F4F7FB;
  padding-bottom: 50px;
}

.update-profile-section .back-to-listing {
  padding: 40px 0;
  z-index: 9;
  position: relative;
}

.update-profile-section .back-to-listing a {
  font-size: 28px;
  color: #092A47;
  text-align: left;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.update-profile-section .back-to-listing a i {
  font-size: 34px;
  margin-right: 10px;
  font-weight: 400;
}

.update-profile-section .profile-pic-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: -60px;
  margin-top: -90px;
}

.update-profile-section .profile-pic-upload .p-image {
  display: none;
}

.update-profile-section .profile-pic-upload .circle {
  position: relative;
  width: 100px;
}

.update-profile-section .profile-pic-upload .circle img {
  height: 140px;
  width: 140px;
  overflow: hidden;
  border-radius: 100px;
}

.update-profile-section .profile-pic-upload .circle .filelabel-icon {
  -webkit-box-shadow: 0 2px 4px 0 #E8E8E8;
  box-shadow: 0 2px 4px 0 #E8E8E8;
  position: absolute;
  right: -55px;
  bottom: 8px;
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99;
  cursor: pointer;
}

.update-profile-section .form-section {
  background-color: #ffffff;
  border: 1px solid #EAEBED;
  padding: 100px 60px 60px 99px;
  border-radius: 8px;
}

.update-profile-section .form-section .form-group {
  margin-bottom: 30px;
}

.update-profile-section .form-section .form-group label {
  font-size: 16px;
  color: #092A47;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 8px;
}

.update-profile-section .form-section .form-group .form-control {
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  font-weight: 500;
  color: #092A47;
}

.update-profile-section .form-section .form-group .form-control:focus {
  background: #F4F7FB;
  border: 1px solid #004C8D;
  -webkit-box-shadow: 4px 7px 12px 0.5;
          box-shadow: 4px 7px 12px 0.5;
}

.update-profile-section .form-section .form-group .select2-container {
  border-color: #EAEBED !important;
}

.update-profile-section .form-section .form-group .select-custom2 span.select2-selection.select2-selection--single {
  border-color: #C7C7C7 !important;
  font-weight: 500;
  color: #092A47 !important;
}

.update-profile-section .form-section .form-group .select-custom2 span.select2-selection.select2-selection--single:focus {
  border: 1px solid #004C8D !important;
  background: #F4F7FB;
  -webkit-box-shadow: 4px 7px 12px 0.5;
          box-shadow: 4px 7px 12px 0.5;
}

.update-profile-section .form-section .form-group .select2.select2-container .select2-selection .select2-selection__rendered {
  color: #092A47 !important;
}

.update-profile-section .form-section .form-group .input-group .form-control {
  border: 0 !important;
}

.update-profile-section .form-section .form-group .custom-file {
  height: auto;
}

.update-profile-section .form-section .form-group .custom-file-label {
  height: 60px;
  text-align: left;
  line-height: 50px;
  border-radius: 10px;
  padding-left: 40px;
}

.update-profile-section .form-section .form-group .custom-file-label:after {
  content: "\f0c6";
  font: normal normal normal 14px/1 FontAwesome;
  height: 60px;
  background-color: transparent;
  left: 0;
  color: #CBCBCB;
  top: 12px;
  border: 0;
  font-size: 26px;
  right: auto;
}

.min-width-200 {
  min-width: 250px !important;
}

.changes-password-section {
  background-color: #F4F7FB;
  padding-bottom: 50px;
}

.changes-password-section .back-to-listing {
  padding: 40px 0;
}

.changes-password-section .back-to-listing a {
  font-size: 28px;
  color: #092A47;
  text-align: left;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.changes-password-section .back-to-listing a i {
  font-size: 34px;
  margin-right: 10px;
  font-weight: 400;
}

.changes-password-section .form-section {
  background-color: #ffffff;
  border: 1px solid #EAEBED;
  padding: 60px 60px 60px 99px;
}

.changes-password-section .form-section .form-group {
  margin-bottom: 30px;
}

.changes-password-section .form-section .form-group label {
  font-size: 16px;
  color: #092A47;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 8px;
}

.changes-password-section .form-section .form-group .form-control {
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  font-weight: 500;
  color: #092A47;
}

.changes-password-section .form-section .form-group .form-control:focus {
  background: #F4F7FB;
  border: 1px solid #004C8D;
  -webkit-box-shadow: 4px 7px 12px 0.5;
          box-shadow: 4px 7px 12px 0.5;
}

.changes-password-section .form-section .form-group .select2-container {
  border-color: #EAEBED !important;
}

.changes-password-section .form-section .form-group .select-custom2 span.select2-selection.select2-selection--single {
  border-color: #C7C7C7 !important;
  font-weight: 500;
  color: #092A47 !important;
}

.changes-password-section .form-section .form-group .select-custom2 span.select2-selection.select2-selection--single:focus {
  border: 1px solid #004C8D !important;
  background: #F4F7FB;
  -webkit-box-shadow: 4px 7px 12px 0.5;
          box-shadow: 4px 7px 12px 0.5;
}

.changes-password-section .form-section .form-group .select2.select2-container .select2-selection .select2-selection__rendered {
  color: #092A47 !important;
}

.inner-main-middle-area .form-section {
  border-radius: 8px;
}

@media (max-width: 767px) {
  .min-width-200 {
    min-width: 100% !important;
  }
  .back-to-listing {
    padding: 30px 0 !important;
  }
  .back-to-listing a {
    font-size: 20px !important;
  }
  .back-to-listing a i {
    font-size: 28px !important;
  }
  .ershift-detail-section .back-to-listing {
    padding: 40px 0;
  }
  .ershift-detail-section .back-to-listing a {
    font-size: 18px;
    line-height: 24px;
  }
  .ershift-detail-section .back-to-listing a i {
    font-size: 26px;
  }
  .add-newshift-section .form-section {
    padding: 40px 20px;
  }
  .add-newshift-section .form-section .form-group {
    margin-bottom: 20px;
  }
  .add-newshift-section .form-section .form-group label {
    font-size: 14px !important;
  }
  .add-newshift-section .form-section .form-group .select2-container {
    height: 60px;
  }
  .update-profile-section .form-section {
    padding: 40px 20px;
  }
  .update-profile-section .form-section .custom-file-label {
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .update-profile-section .form-section .form-group {
    margin-bottom: 20px;
  }
  .update-profile-section .form-section .form-group label {
    font-size: 14px !important;
  }
  .update-profile-section .form-section .form-group .select2-container {
    height: 60px;
  }
  .update-profile-section .profile-pic-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    bottom: -40px;
    margin-top: -30px;
  }
  .update-profile-section .profile-pic-upload .p-image {
    display: none;
  }
  .update-profile-section .profile-pic-upload .circle {
    position: relative;
    width: 100px;
  }
  .update-profile-section .profile-pic-upload .circle img {
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 100px;
  }
  .update-profile-section .profile-pic-upload .circle .filelabel-icon {
    -webkit-box-shadow: 0 2px 4px 0 #E8E8E8;
    box-shadow: 0 2px 4px 0 #E8E8E8;
    position: absolute;
    right: 0px;
    bottom: 8px;
    background-color: #ffffff;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99;
  }
  .changes-password-section .form-section {
    padding: 40px 20px;
  }
  .changes-password-section .form-section .form-group {
    margin-bottom: 20px;
  }
  .changes-password-section .form-section .form-group label {
    font-size: 14px !important;
  }
  .myshift-section .myshift-box .myshift-box-body P {
    font-size: 14px;
    line-height: 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  .myshift-section .myshift-box .myshift-box-body P span {
    font-size: 14px;
    width: 100%;
    text-align: left;
  }
  .myshift-section .myshift-box .myshift-box-body .description p {
    font-size: 14px;
    line-height: 28px;
  }
  .myshift-section .myshift-box .myshift-box-body .description p a {
    font-size: 14px;
    line-height: 28px;
  }
}
/*# sourceMappingURL=custom.css.map */