@import url(../css/style.css);
@import url(../css/font-awesome.min.css);

.bg-primary-color {
    background-color: #F4F7FB;
    
}

 // back to
 .back-to-listing{
    padding: 40px 0; 
    a {
        font-size: 30px;
        color: #092A47;
        text-align: left;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        i {
            font-size: 48px;
            margin-right: 10px;
        }
    }
}

.ershift-detail-section {
    background-color: #F4F7FB;

    // back to
    .back-to-listing{
        padding: 40px 0; 
        a {
            font-size: 30px;
            color: #092A47;
            text-align: left;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            i {
                font-size: 48px;
                margin-right: 10px;
            }
        }
    }
    
    // detail

    .detail-section {
        padding-bottom: 80px;
        border-bottom: 1px solid #D9DADE;

        .row-7 {
            margin: 0 -7px;
            .pad-7 {
                padding: 0 7px;
            }
        }
        .detail-img {
            margin-bottom: 30px;
            img{
                border-radius: 8px;
            }
        }
        .detail-content{
            h3 {
                font-size: 24px;
                color: #004C8D;
                text-align: left;
                line-height: 29px;
                margin-bottom: 12px;
            }
            p {
                font-size: 20px;
                color: #092A47;
                text-align: left;
                line-height: 34px;
            }
        }

        .detail-content-info{
            background-color: #ffffff;
            border: 1px solid #EAEBED;
            border-radius: 8px;
            padding: 30px;
            .form-group{
                margin-bottom: 30px;
                label {
                    font-size: 20px;
                    color: #092A47;
                    line-height: 30px;
                    font-weight: 600;
                    margin-bottom: 6px;
                }
                p {
                    font-size: 20px;
                    color: #092A47;
                    line-height: 30px;
                    display: block;
                
                    span {
                        
                        display: inline-block;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }

        .btns-groups{
            padding: 10px 0;
            a {
                margin-bottom: 10px;
                display: flex;
                text-align: center;
            }
            .btn-secondary {
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.myshift-section {
background-color: #F4F7FB;
    .row-7 {
        margin: 0 -7px;
        .pad-7 {
            padding: 0 7px;
        }
    }
    .myshift-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0 30px 0;
        .title {
            h3 {
                font-size: 28px;
                color: #092A47;
                letter-spacing: 0;
            }
        }

        .link-button{
            a {
                font-size: 14px;
                color: #FFFFFF;
                text-align: left;
                line-height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    margin-right: 8px;
                }
            }
           
        }
    }

    .myshift-box{
        background: #FFFFFF;
        border: 1px solid #EAEBED;
        border-radius: 8px;
        margin-bottom: 15px;
        .myshift-box-header{
            padding: 20px 20px 10px 20px;
            h2 {
                font-size: 22px;
                color: #092A47;
                line-height: 30px;
                margin-bottom: 0;
            }
        }
        .myshift-box-body{
            padding: 10px 20px 20px 20px;
            P{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                font-size: 18px;
                color: #092A47;
                line-height: 30px;
                margin-bottom: 6px;
                font-weight: 400;

                span{
                    font-size: 18px;
                    color: #092A47;
                    text-align: right;
                    line-height: 30px;
                    font-weight: 600;
                }
                span.to{ color: rgba(9, 42, 71, 0.5); }
                .red-color {
                    color: #B5131B;
                }
            }

            .description{
                display: flex;
                flex-direction: column;
                h3 {
                    font-size: 18px;
                    color: #092A47;
                    line-height: 30px;
                    text-decoration: none;
                    margin-bottom: 10px;
                    text-decoration: underline;
                    font-weight: 600;
                }
                p{
                    display: inline-block;
                    font-size: 16px;
                    color: #092A47;
                    line-height: 30px;
                    margin-bottom: 0px;
                    a {
                        font-size: 16px;
                        color: #004C8D;
                        line-height: 30px;
                        font-weight: 600;
                        text-transform: uppercase;;
                    }
                }
            }
        }
        .myshift-box-footer {
            border-top: 1px solid #EAEBED;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .btns{
                display: flex;
                .btn {
                    background: rgba(145,183,220,0.10);
                    border: 1px solid rgba(9, 42, 71, 0.4);
                    border-radius: 20px;
                    font-size: 14px;
                    color: #004C8D;
                    line-height: 22px;
                    margin-left: 10px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    padding: 8px 20px;
                    transition:  all 0.3s ease-in-out;
                    &:hover {
                        transition:  all 0.3s ease-in-out;
                        background-color: #092A47;
                        color: #ffffff;
                    }
                    span {
                        margin-right: 5px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}


.add-newshift-section{
    background-color: #F4F7FB;
    padding-bottom: 50px;
    
       // back to
       .back-to-listing{
        padding: 40px 0; 
        a {
            font-size: 28px;
            color: #092A47;
            text-align: left;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            i {
                font-size: 34px;
                margin-right: 10px;
                font-weight: 400;
            }
        }
    }

    .form-section{
        background-color: #ffffff;
        border: 1px solid #EAEBED;
        padding: 60px 99px;
       

        .form-group {
            margin-bottom: 30px;
            label {
                font-size: 16px;
                color: #092A47;
                letter-spacing: 0;
                font-weight: 600;
                margin-bottom: 8px;
            }

            .form-control {
                background: #FFFFFF;
                border: 1px solid #C7C7C7;
                border-radius: 4px;
                font-weight: 500;
                color: #092A47;
                &:focus{
                    background: #F4F7FB;
                    border: 1px solid #004C8D;
                    box-shadow: 4px 7px 12px 0.5;
                }
            }
            .select2-container{
                border-color: #EAEBED !important; 
              
            }
            .select-custom2 span.select2-selection.select2-selection--single {
                border-color: #C7C7C7 !important; 
                font-weight: 500;
                color: #092A47 !important;
                &:focus {
                    border: 1px solid #004C8D !important;
                    background: #F4F7FB;
                    box-shadow: 4px 7px 12px 0.5;
                }
                
            }
            .select2.select2-container .select2-selection .select2-selection__rendered {
                color: #092A47 !important;  
            }

            .date-picker-div {
                border-color: #C7C7C7 !important;
                .from-date{
                    &::after {
                        background-color: #C7C7C7;
                    }
                }
            }

            .input-group {
                .form-control {
                    border: 0 !important;
                }
            }
        }
    }
}


.update-profile-section{
    background-color: #F4F7FB;
    padding-bottom: 50px;
    
       // back to
       .back-to-listing{
        padding: 40px 0; 
        z-index: 9;
        position: relative;
        a {
            font-size: 28px;
            color: #092A47;
            text-align: left;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            i {
                font-size: 34px;
                margin-right: 10px;
                font-weight: 400;
            }
        }
    }

    .profile-pic-upload{
        display: flex;
        align-items: center;
        justify-content: center;position: relative;
        bottom: -60px;
        margin-top: -90px;
        .p-image {
            display: none;
        }
        .circle {
            position: relative;
            width: 100px;
            img {
                height: 140px;
                width: 140px;
                overflow: hidden;
                border-radius: 100px;
            }
            .filelabel-icon {
                -webkit-box-shadow: 0 2px 4px 0 #E8E8E8;
                box-shadow: 0 2px 4px 0 #E8E8E8;
                position: absolute;
                right: -55px;
                bottom: 8px;
                background-color: #ffffff;
                height: 50px;
                width: 50px;
                border-radius: 100px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                z-index: 99;
                cursor: pointer;
            }
        }
    }

    .form-section{
        background-color: #ffffff;
        border: 1px solid #EAEBED;
        padding: 100px 60px 60px 99px;
        border-radius: 8px;

        .form-group {
            margin-bottom: 30px;
            label {
                font-size: 16px;
                color: #092A47;
                letter-spacing: 0;
                font-weight: 600;
                margin-bottom: 8px;
            }

            .form-control {
                background: #FFFFFF;
                border: 1px solid #C7C7C7;
                border-radius: 4px;
                font-weight: 500;
                color: #092A47;
                &:focus{
                    background: #F4F7FB;
                    border: 1px solid #004C8D;
                    box-shadow: 4px 7px 12px 0.5;
                }
            }
            .select2-container{
                border-color: #EAEBED !important; 
              
            }
            .select-custom2 span.select2-selection.select2-selection--single {
                border-color: #C7C7C7 !important; 
                font-weight: 500;
                color: #092A47 !important;
                &:focus {
                    border: 1px solid #004C8D !important;
                    background: #F4F7FB;
                    box-shadow: 4px 7px 12px 0.5;
                }
                
            }
            .select2.select2-container .select2-selection .select2-selection__rendered {
                color: #092A47 !important;  
            }

            .input-group {
                .form-control {
                    border: 0 !important;
                }
            }
            .custom-file{
                height: auto;
            }

            .custom-file-label{
                height: 60px;
                text-align: left;
                line-height: 50px;
                border-radius: 10px;
                padding-left: 40px;

                &:after {
                    content: "\f0c6";
                    font: normal normal normal 14px/1 FontAwesome;
                    height: 60px;
                    background-color: transparent;
                    left: 0;
                    color: #CBCBCB;
                    top: 12px;
                    border: 0;
                    font-size: 26px;
                    right: auto;
                }
            }

         
        }
    }
}

.min-width-200 {
    min-width: 250px !important;
}

.changes-password-section{
    background-color: #F4F7FB;
    padding-bottom: 50px;
    
       // back to
       .back-to-listing{
        padding: 40px 0; 
        a {
            font-size: 28px;
            color: #092A47;
            text-align: left;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            i {
                font-size: 34px;
                margin-right: 10px;
                font-weight: 400;
            }
        }
    }

 

    .form-section{
        background-color: #ffffff;
        border: 1px solid #EAEBED;
        padding: 60px 60px 60px 99px;
       

        .form-group {
            margin-bottom: 30px;
            label {
                font-size: 16px;
                color: #092A47;
                letter-spacing: 0;
                font-weight: 600;
                margin-bottom: 8px;
            }

            .form-control {
                background: #FFFFFF;
                border: 1px solid #C7C7C7;
                border-radius: 4px;
                font-weight: 500;
                color: #092A47;
                &:focus{
                    background: #F4F7FB;
                    border: 1px solid #004C8D;
                    box-shadow: 4px 7px 12px 0.5;
                }
            }
            .select2-container{
                border-color: #EAEBED !important; 
              
            }
            .select-custom2 span.select2-selection.select2-selection--single {
                border-color: #C7C7C7 !important; 
                font-weight: 500;
                color: #092A47 !important;
                &:focus {
                    border: 1px solid #004C8D !important;
                    background: #F4F7FB;
                    box-shadow: 4px 7px 12px 0.5;
                }
                
            }
            .select2.select2-container .select2-selection .select2-selection__rendered {
                color: #092A47 !important;  
            }

       
         
        }
    }
}


.inner-main-middle-area .form-section{ border-radius: 8px; }

@media (max-width: 767px){

    .min-width-200 {
        min-width: 100% !important;
    }

    .back-to-listing {
        padding: 30px 0 !important;
        a {
            font-size: 20px !important;
            i{
                font-size: 28px !important;
            }
        }
    }
    .ershift-detail-section {

        // back to
        .back-to-listing{
            padding: 40px 0; 
            a {font-size: 18px;
            line-height: 24px;
            i {
                font-size: 26px;
            }
        }
        }
    }


    .add-newshift-section {
        .form-section {
            padding: 40px 20px;
            .form-group {
                margin-bottom: 20px;
                label {
                    font-size: 14px !important;
                }
                
                .select2-container  {
                    height: 60px;
                }
            }
        }
    } 

    .update-profile-section {
        .form-section {
            padding: 40px 20px; 

           .custom-file-label {
               font-size: 14px !important;
               font-weight: 400 !important;
           }

           .form-group {
            margin-bottom: 20px;
            label {
                font-size: 14px !important;
            }
            .select2-container  {
                height: 60px;
            }
        }

       
        } 
        .profile-pic-upload{
            display: flex;
            align-items: center;
            justify-content: center;position: relative;
            bottom: -40px;
            margin-top: -30px;
            .p-image {
                display: none;
            }
            .circle {
                position: relative;
                width: 100px;
                img {
                    height: 90px;
                    width: 90px;
                    overflow: hidden;
                    border-radius: 100px;
                }
                .filelabel-icon {
                    -webkit-box-shadow: 0 2px 4px 0 #E8E8E8;
                    box-shadow: 0 2px 4px 0 #E8E8E8;
                    position: absolute;
                    right: 0px;
                    bottom: 8px;
                    background-color: #ffffff;
                    height: 32px;
                    width: 32px;
                    border-radius: 100px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    z-index: 99;
                }
            }
        }       
    } 

    
    .changes-password-section {
        .form-section {
            padding: 40px 20px;
            .form-group {
                margin-bottom: 20px;
                label {
                    font-size: 14px !important;
                }
            }
        }
    } 

    .myshift-section {
        .myshift-box {
            .myshift-box-body {
                P { 
                    font-size: 14px;
                    line-height: 28px;
                    flex-direction: column;
                    margin-bottom: 10px;
                    span {
                        font-size: 14px; width: 100%; text-align: left;
                    }
                }
                .description {
                    p {
                        font-size: 14px;
                        line-height: 28px;
                        a{
                            font-size: 14px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
    

}