.error{
    color: #B5131B !important;
}

.invalid-feedback {
    color: #B5131B !important;
    font-size: 16px !important;
}

.sa-confirm-button-container .confirm {
    font-size: 16px;
    padding: 5px 7px 5px 5px;
}

.sa-button-container .cancel {
    font-size: 16px;
    padding: 5px 7px 5px 5px;
}

.select2.select2-container .select2-selection--multiple {
    height: 60px !important;
    border-radius: 10px !important;
}

.u-img {
    border-radius: 50%;
    height: 45px;
}

.reset-btn {
    background: #f4f7fb;
    border: 1px solid #E4E4E4 !important;
    height: 40px;
    margin: 0 15px 0 10px;
}

.content-cms-div {
    margin: 0px 60px 9px 60px;
}

/*  */
.cms-section .content-record-div h2 {
    font-size: 20px;
    color: #0B162B;
    text-align: center;
    line-height: 24px;
    font-weight: 700;
}
.cms-section .content-cms-div .effective-date p {
    font-size: 14px;
    color: #0B162B;
    text-align: left;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cms-section .content-cms-div p {
    font-size: 16px;
    color: #3C454C;
    line-height: 30px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 30px;

}

.cms-section .content-cms-div a {
    color: #3C454C;
    text-decoration: underline;
}
.cms-section .content-cms-div a:hover {
    color: #000000;
}

.cms-section .content-cms-div h2 {
    font-size: 20px;
    color: #0B162B;
    text-align: left;
    line-height: 24px;
    font-weight: 700;
}

.cms-section .content-cms-div h4 {
    font-size: 18px;
    color: #0B162B;
    text-align: left;
    line-height: 22px;
    font-weight: 600;
}

.cms-section .content-cms-div h3 {
    font-size: 18px;
    color: #0B162B;
    text-align: left;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.cms-section .content-cms-div ul {margin: 0; padding: 0;}
.cms-section .content-cms-div ul li {display: block; margin-bottom: 20px; padding-left: 30px; position: relative;
    font-size: 16px;
    color: #3C454C;
    line-height: 30px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 30px;}
.cms-section .content-cms-div ul li p { margin-bottom: 10px;}
.cms-section .content-cms-div ul li p strong { margin-bottom: 0;}

.cms-section .content-cms-div ul li::before {
    position: absolute;
    left: 0;
    top: 5px;
    content: "\e912";
    display: inline-block;
    font-family: Feather!important;
    speak: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.cms-section .content-cms-div ul.dot li {
    margin-bottom: 5px;
}

.cms-section .content-cms-div ul.none li {
    margin-bottom: 5px;
    padding: 0;
}
.cms-section .content-cms-div ul.none li::before {
    display: none;
}

@media (max-width: 767px){
    .content-cms-div {
        margin: 0 !important;
    }

}
select#doctor_type {
    border-radius: 0px;
}
select#professions {
    border-radius: 0px;
}
select#filter-shift_select {
    border-radius: 0px;
}
select#location {
    border-radius: 10px 0px 0px 10px;
}

.morecontent abbr {
    display: none;
}

.morecontent {
    display: inline;
}

.pay-shift-ul li {
    padding: 4px;
}

.app-mobile-section { overflow: hidden; }

header .header-div .logo_img {
    width: 170px;
}

@media (max-width: 767px){
	header .header-div .logo-div .logo_link {
		width: 140px;
	}
}

@media (max-width: 1024px) and (min-width: 768px){
	header .header-div .logo-div .logo_link {
		width: 140px;
	}
}

.footer-root .footer-div .footer-list {
    padding: 20px 8px;

}

.card-box.app-mobile-card-box ul.pay-shift-ul {
    list-style: circle;
    padding-left: 20px;
}
.card-box.app-mobile-card-box .pay-shift-ul li {
    padding: 5px 0;
    margin: 0;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #222;
}

.general-find-card-box:hover{ box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); }

.help-block{
    color: #B5131B !important;
    font-size: 16px !important;
}

.trial-btn{

    padding: 5px;
    font-size: 12px;
    margin-top: -5px;
}


.radio-btn-root .btn.btn-order-now {
    background: #031A2D;
    border-radius: 24px 6px 6px 24px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 20px;
  }

  .radio-btn-root .btn.btn-activate-now {
    background: #6DD400;
    border-radius: 24px 6px 6px 24px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 20px;
  }

p.lead.text-muted{
    margin-top: 25px;
}

.search_list {
    background: #FFFFFF;
    margin-bottom: 10px;
    margin: 0;
    cursor: pointer;
    min-width: 450px;
}

.search_people {
    display: flex;
  }
.search_people a {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
.search_people a img {
    margin-left: 10px;
    margin-top: 10px;
       height: 45px;
       width: 45px;
  }
  .search_text h1 {
    font-size: 18px;
    color: #004C8D;
    padding:10px;

    }

    .search_chat_img {
        float: left;
        width: 15%;
    }

    .badge {
        top: -10px;
        right: -10px;
        padding: 5px 5px;
        border-radius: 10px;
        background-color: red;
        color: white;
    }

    .status-text-active {
        color: #6DD400 !important;
      }
      
      .status-text-inactive {
        color: #B5131B !important;
      }

.table-heading{
    color :  #004C8D !important;
    font-weight: bold !important;
}
.table-degree{
margin-bottom: 0 !important;
}

img.img-fluid.img-thumb-main.dc-img {
    width: 75px;
}


  
.page-item .page-link {
    color: #031a2d;
    background-color: #fff;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #092a47;
    border-color: #092a47;
}

.top-header-section {
    padding: 10px 0;
    margin: 0;
    position: relative;
    background-color:#004C8D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgba(197, 209, 221, 0.6);
    min-height: 50px;
  }
  
  .top-header-section p {
    margin: 0;
    text-align: center;
    color: #dee2e6;
  }
  
  .top-header-section .link {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    color: #fff;
    text-decoration: underline;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .top-header-section .link:hover, .top-header-section .link:focus {
    opacity: 0.7;
  }


  .label-root .label-div {
    
    max-width: 380px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0;
    word-break: break-word;
}
  
